[submodule "vim/plugins/nerdtree"]
	path = vim/plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/plugins/Command-T"]
	path = vim/plugins/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "vim/plugins/snipmate"]
	path = vim/plugins/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/plugins/tlib"]
	path = vim/plugins/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/plugins/addon-mw-utils"]
	path = vim/plugins/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/plugins/vim-snippets"]
	path = vim/plugins/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/plugins/omnicppcomplete"]
	path = vim/plugins/omnicppcomplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "vim/plugins/supertab"]
	path = vim/plugins/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/plugins/tagbar"]
	path = vim/plugins/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/plugins/powerline"]
	path = vim/plugins/powerline
	url = https://github.com/Lokaltog/powerline
[submodule "vim/plugins/solarized"]
	path = vim/plugins/solarized
	url = github:altercation/vim-colors-solarized.git
