[submodule "vim/plugins/nerdtree"]
	path = vim/plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/plugins/snipmate"]
	path = vim/plugins/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/plugins/tlib"]
	path = vim/plugins/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/plugins/addon-mw-utils"]
	path = vim/plugins/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/plugins/vim-snippets"]
	path = vim/plugins/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/plugins/omnicppcomplete"]
	path = vim/plugins/omnicppcomplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "vim/plugins/supertab"]
	path = vim/plugins/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/plugins/tagbar"]
	path = vim/plugins/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/plugins/vim-oz"]
	path = vim/plugins/vim-oz
	url = https://github.com/elehack/vim-oz
[submodule "vim/plugins/vim-qt-syntax"]
	path = vim/plugins/vim-qt-syntax
	url = https://bitbucket.org/kh3phr3n/vim-qt-syntax.git
