.idea/
.DS_Store

# private configs
.private
.ssh/config
.config/git/config

# emacs
**/*~
**/#*#
**/.#*
**/*.elc
.config/emacs/perspective-state
.config/emacs/.cache/
.config/emacs/custom.el
.config/emacs/eln-cache/
.config/emacs/elpa/
.config/emacs/history
.config/emacs/places
.config/emacs/projects
.config/emacs/recentf
.config/emacs/transient/
.config/emacs/tree-sitter/

