[submodule "vim/plugins/nerdtree"]
	path = vim/plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/plugins/Command-T"]
	path = vim/plugins/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "vim/plugins/Syntastic"]
	path = vim/plugins/Syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/plugins/taglist"]
	path = vim/plugins/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/plugins/snipmate"]
	path = vim/plugins/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/plugins/tlib"]
	path = vim/plugins/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/plugins/addon-mw-utils"]
	path = vim/plugins/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/plugins/vim-snippets"]
	path = vim/plugins/vim-snippets
	url = https://github.com/honza/vim-snippets.git
